<%# app/views/refinery/pages/home.html.erb%>
<%# raw(@page.content_for(:banner)) %>
  <div class="box">
    <div class="text-center">

      <div id="carousel-example-generic" class="carousel slide" >
        <!-- Indicators -->
        <ol class="carousel-indicators hidden-xs">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <% main_slideshow = Refinery::ImageSlideshows::ImageSlideshow.find_by_title('home_slideshow') %>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% main_slideshow.image_slides.each do |image_slide| %>
            <div class="item">
              <%= image_tag image_slide.image.url, :class => 'img-responsive img-full', :size => '1140x380', :alt => image_slide.title, :title => image_slide.caption %>
            </div>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
           <span class="control-left">
                <i class="fa fa-angle-left fa-stack-2x"></i>
            </span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="control-right" >
            <i class="fa fa-angle-right fa-stack-2x" aria-hidden="true"></i>
          </span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

<%= raw(@page.content_for(:body)) %>
<%= raw(@page.content_for(:Qualifications)) %>
<%= raw(@page.content_for(:call_to_action)) %>
