<nav class = "navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="col-lg-12 navbar-text text-center">
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
    </p>
  </div>
</nav>
