<nav class = "navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class=" col-lg-4 navbar-text text-center">
    </div>
    <div class=" col-lg-4 navbar-text text-center">
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
    </div>
    <div class=" col-lg-4 navbar-text text-center">
      <ul class="list-unstyled list-inline list-social-icons pull-right">
        <li>
          <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </li>
      </div>
    </ul>
  </div>
</nav>
