html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  padding-top: 50px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

#logo .navbar-brand{
  padding-top: 5px;
  padding-bottom: 5px;
}

#page{
  margin-bottom: 100px;
}

footer p {
  padding: 10px;
}

ul.i18n_toggle{
  list-style-type: none;
  li{
    float: left;
    padding: 5px;
    }
}

.jobthumbimage{
  margin-bottom: 10px;
  margin-top: 25px;
}

#googleMap {
    height: 500px;
}

.carousel-control .control-left,
.carousel-control .control-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .control-left {
  left: 50%;
}
.carousel-control .control-right {
  right: 50%;
}
