@import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#page{
  margin-bottom: 100px;
}

footer p {
  padding: 10px;
}

ul.i18n_toggle{
  list-style-type: none;
  li{
    float: left;
    padding: 5px;
    }
}

#job {
  .jobtext {
    .row{ padding: 10px; }
    .description{
      color: #777;
    }
   }
  .jobimages{
    margin-top: 10px;
  }
}

.jobthumbimage{
  margin-bottom: 10px;
  margin-top: 25px;
}

#jobs{

  .image-align-left {
    margin-right: 20px;
  }
  .image-align-right {
    margin-left: 20px;
  }
}
